<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Checkout
        style.
            body {
                background: #eee;
                font-family: sans-serif;
                max-width: 1000px;
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: auto auto auto;
                grid-gap: 30px;
                padding: 30px;
                margin: 150px auto;
            }

            
            #items {
                list-style-type: none;
                color: #222;
                padding: 0;
                grid-row: 2;
                grid-column: 2;
                margin: 0;
            }

            #items li {
                padding: 15px 30px;
                padding-bottom: 0;
            }

            #items li:last-child {
                font-weight: bold;
                border-top: solid 1px #aaa;
                margin-top: 20px;
            }

            .price {
                float: right;
            }

            .info {
                background: #fff;
                padding: 10px 25px;
                border-radius: 10px;
                border: solid 2px #00aac4;
                grid-row: 1 / span 3;
            }

            .btn {
                background: #00aac4;
                color: #fff;
                padding: 10px 15px;
                border-radius: 5px;
                display: inline-block;
                text-decoration: none;
                margin-bottom: 1em;
                margin-right: 0.5em;
            }

            .btn.white {
                color: #222;
                background: transparent;
            }

            .btn:hover {
                opacity: 0.8
            }

            .btn.white:hover {
                opacity: 1;
                background: #0001;
                color: #000;
            }


            @media all and (max-width: 750px) {
                body {
                    display: block;
                    margin: 30px auto;
                }

                #items {
                    margin-top: 30px;
                }
            }
    body
        .info
            p This is the checkout page, but it's been disabled so that I don't bill people who don't want to be billed.
            p Just imagine that there's a credit card here instead of this box, and click the "Pay Now" button
            a.btn(href="/") Pay now
            a.btn.white(href="javascript:history.back()") Back
        ul#items

        script(src="/static/checkout.js", type='module')