body {
    font-family: sans-serif;
    padding: 25px;
    margin: 0 auto;
    max-width: 1500px
}

main {
    display: grid;
    grid-template-columns: auto 300px
}

@media all and (max-width: 1000px) {
    #menu {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}
@media all and (max-width: 750px) {
    main {
        grid-template-columns: 1fr;
    }
    .item > .img {

        height: 150px !important;
    }
    #menu {
        grid-template-columns: 1fr 1fr !important;
    }
}

.item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px #000a;
    background: #405865
}

.item .details div:nth-child(1) {
    position: absolute;
    bottom: 50%;
    left: 0;
    padding: 0 25px;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
}
.item .details div:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.item .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.25s;
    box-sizing: border-box;
    color: #fff;
    background: #0007;
    padding: 50px 25px;
    text-align: center;
    font-size: 1.5em;
    opacity: 0;
}

.item:hover .details {
    opacity: 1;
}

#menu {
    display: grid;
    grid-gap: 15px;
    padding: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 
}
.item .img {
    height: 250px;
    transition: all 0.25s ease;
    background: center / cover
}

.item:hover .img {
    filter: blur(20px) saturate(1.8)
}

#cart {
    padding: 15px 10px;
}

#cart > div {
    padding: 15px 20px;
    margin: 10px 0;
    padding-right: 0;
    border-radius: 5px;
    margin-right: 0;
    overflow: hidden;
    box-sizing: border-box;
    height: 50px;
}
#cart > div:hover {
    background: #eee;
}

#cart .price {
    float: right;
    padding: 0 15px;
}

#cart > div:first-child {
    margin-top: 0;
}
#cart button {
    padding: 0 7px;
    display: none;
    background: transparent;
    border: 0;
    float: right;
    position: relative;
    right: 8px;
    font-size: 1em;
    cursor: pointer;
}

#cart div:hover > button {
    display: block;
}
#cart div:hover > .price {
    display: none;
}

#cart > a {
    display: block;
    text-decoration: none;
    color: #fff;
    background: #00aac4;
    padding: 15px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}

#cart > a.disabled {
    background: #eee;
    color: #555;
    cursor: default;
    font-weight: normal;
}

#cart > a.white {
    color: #000;
    background: transparent;
    font-weight: normal;
}

#cart > a:not(.disabled):hover {
    opacity: 0.8;
}

#cart > a.white:hover {
    background: #eee;
    opacity: 1;
}